extends includes/layout

block css
	link(rel="stylesheet", href="assets/css/horizontal-separator.css")

block content
	.separator
		.separator__color.separator__color--blue
		.separator__color.separator__color--red
		.separator__color.separator__color--green
		.separator__color.separator__color--purple
