extends includes/layout

block css
	link(rel="stylesheet", href="assets/css/stream-title.css")

block js
	script(src="../bower_components/phaser-ce/build/phaser.min.js")

block content
	.trivia
		span.trivia__question.js-question
	
