extends includes/layout

block css
	link(rel="stylesheet", href="assets/css/scene-transition.css")

block js
	script(src="assets/js/scene-transition.js")

block content
	.separators
		.separator__color.separator__color--blue.js-separator-first
		.separator__color.separator__color--red.js-separator-second
		.separator__color.separator__color--green.js-separator-third
		.separator__color.separator__color--purple.js-separator-fourth
