extends includes/layout

block css
	link(rel="stylesheet", href="assets/css/stream-title.css")

block js
	script(src="assets/js/stream-title.js")

block content
	.container
		span.container__title.js-title
