extends includes/layout

block css
	link(rel="stylesheet", href="assets/css/todo-list.css")

block js
	script(src="assets/js/todo-list.js")

block content
	.container
		h2.container__header Today's task list
		ul.container__list.js-list
