extends includes/layout

block css
	link(rel="stylesheet", href="assets/css/top-bar.css")

block js
	script(src="assets/js/top-bar.js")

block content
	.container
		img(src="assets/img/pattern.png").container__background
		img(src="assets/img/pattern.png").container__background
		img(src="assets/img/pattern.png").container__background
		img(src="assets/img/pattern.png").container__background
		img(src="assets/img/pattern.png").container__background
		span.container__content.js-blur planet_popstar
