doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		link(rel="import", href="components/paper-button/paper-button.html")
		link(rel="import", href="components/paper-progress/paper-progress.html")
		//- link(rel="stylesheet", href="assets/css/first-panel.css")
	body
		p Hi!
		//- script(src="assets/js/qbit-combo.js")
