doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		link(rel="import", href="../bower_components/paper-button/paper-button.html")
		link(rel="import", href="../bower_components/paper-input/paper-input.html")
		link(rel="stylesheet", href="assets/css/scene-changer.css")
	body
		.scenes.js-scenes
		script(src="../bower_components/jquery/dist/jquery.slim.js")
		script(src="../bower_components/obs-websocket-js/dist/obs-websocket.min.js")
		script(src="assets/js/scene-changer.js")
